* {
box-sizing: border-box;
margin-top:0;
}

html {
height: 100%;
}

html, body {
margin:0; padding:0;
background: #666;
}

body {
font-family: Trebuchet MS;
width: 640px;
margin: 0 auto 100px auto;
background: #ddd;
min-height: 100%;
padding: 20px;
}

a {
  text-decoration: none;
}

#canvas {
margin: 0 auto 2em auto;
display: block;
}

#list {
  list-style-type: none;
  margin:0;
  padding:0;
  -moz-column-count: 2;
  column-count: 2;
}

#list li {
  list-style-type: none;
  padding: 0.25em;
  margin-bottom: 0.5em;
  background: #eee;
}

#list li:hover {
  background: #fff;
}

#list a {
  display: block;
}